
.container-fluid{
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  background-color: rgb(158, 138, 214);
}